body{
    color:#313131;
    font-family: 'Open sans';

}
#app{
    display:flex;
    flex-direction:column;
}
main{
    position:relative;
    margin-top:87px;
    margin-bottom:50px;
}
h2{
    font-size:35px;
    font-weight:bold;
}
.navbar {
    background-color: #191B27 !important;
}


.footer {
    background-color: #191B27 !important;
   
}

footer p {
    font-size: 18px;
    letter-spacing: 3px;
    
}
table caption{
    caption-side:top;
    color:#313131;
    font-size:32px;
    padding-top:0;
    font-weight:bold;
}
table.cryptoRanks tr{
    line-height:37px;
}
table.cryptoRanks span{
    font-size:20px;
}
.navbar-brand img{
    width:200px;
}

div.form-group label {
      color: black;
      font-size: 17px   
}

.admin-add{
    color:#3097D1;
}
.cryptorenceterate{
    font-size:18px;
}
.cryptorecenterate span{
    font-size:25px;
    letter-spacing:1px;
    font-weight:bold;
}

.margin-bottom {
    margin-bottom: 100px !important;
}
.fa-wallet{
    font-size:34px;
    margin-right:10px;
}
.sellWalletButton{
    font-size:20px;
    background:none;
    border:1.5px solid #aac2e0;
}
.sellWalletButton span{
    color:#43ca79;
}
.totalinvest p{
    font-weight:bold;
    margin:0;
    font-style:italic;
}
.totalinvest span{
    font-weight:bold;
    color:#E86f63;
}
.modal-dialog{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) !important;
    max-width:600px;
    width:100%;
}
.login-form{
    margin-bottom:132px;
}
.register-form{
    margin-bottom:116px;
}
button.close{
    position:absolute;
    top:0;
    left:5px;
    font-size:30px;
}
.totalCrypto{
    font-weight:bold;
    font-size:22px;
}

/*Sidebar*/

#sidebar {
    width: 300px;
    height: 100%;
    background:#323A46;
    font-size: 1rem;
    -webkit-box-shadow: 5px 0px 8px 0px #949494;
    -moz-box-shadow: 5px 0px 8px 0px #949494;
    box-shadow: 5px 0px 8px 0px #949494;
    left: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    z-index: 1;
    line-height: 2 ;
}

.box select {
    background-color: #0563af;
    color: white;
    width:150px;
    padding:2px 5px;
    border: none;
    border-radius:5px;
    font-size: 18px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }
  
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }
  
#sidebar * {
    color: white;
}

#sidebar a:hover {
    text-decoration: none;

}

#sidebar #toggleNav {
    display: none;
    position: absolute;
    width: 1rem;
    height: 2rem;
    right: -1rem;
    background-color: #949494;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

#sidebar #logotype {
    font-size: 2rem;
    font-weight: 600;
}

#sidebar ul {
    list-style: none;
}

#sidebar .sidebar-item {
    border-radius: 0.5rem;
    transition: 0.2s;
}

#sidebar .sidebar-item.active {
    background-color: #8a8afd;
    padding-left: 0.5rem;
    
}

#sidebar .sidebar-item:not(.active):hover {
    background-color: #00B812;
    padding-left: 0.5rem;
}

#sidebar .sidebar-item span {
    font-weight: 600;
}

#sidebar #balance {
    font-weight: 700;
}

#sidebar #closeNav {
    display: none;
    cursor: pointer;
}

#sidebar #closeNav:hover {
    padding-right: 0.5rem;

}
.card-header{
    font-weight:bold;
    font-size:18px;
}

.card-crypto {
    padding:20px;
    border-radius:5px
}
.chartswitcherlabel{
    font-size:18px;
}
#icon{
    font-size:55px;
}
#valueForToday{
    font-size:34px;
}
.walletCryptocurrency, .walletCryptocurrency label {
    cursor: pointer;
}
.checkcryptocurrency:checked + .walletCryptocurrency{
    background:aliceblue;
}
/**
 * Responsive
 */
@media (max-width: 1199px) {
    #sidebar {
        width: 15rem;
    }
}

@media (max-width: 991px) {
    h2 {
        text-align: center;
    }

    .mtl {
        margin-top: 20px !important;
        margin-left: -15px;
    }
    #sidebar {
        width: 12rem;
        font-size: 0.9rem;
    }

    #sidebar i:not(#logoIcon) {
        display: none;
    }
}

@media (max-width: 767px) {
    #sidebar {
        width: 100%;
        font-size: 1rem;
    }

    #sidebar.hidden {
        left: -98%;
    }

    #sidebar #toggleNav {
        display: flex;
    }

    #sidebar i:not(#logoIcon),
    #sidebar #closeNav {
        display: flex;
    }

    .margin-content {
        margin: 0 !important ;
        padding: 20px !important;
    }

}

@media (max-width: 450px) {
    .margin-content {
        margin: 0 !important;
        padding: 0 !important;
        
    }

}

@media (max-width: 430px) {
        .card-crypto {
            margin: 0  !important;
            border-left: 0  !important;
        }

        .card-crypto p  {
            font-size: 15px !important;
        }

        #cryptoRateName {
            font-size: 25px !important;

        }

        .box {
            margin-top: 10px !important;
            text-align: center;
        }
        .box label {
            margin-bottom: 5px !important;
        }
        #chartSwitcher {
            text-align: center;

        }


}

@media (max-width: 300px) {

    .crypto {
        margin-left: 0 !important;
        border-left: none !important;
    }
    .crypto span{
        font-size: 20px !important; 
     }    
}
thead th {
    width: 200px;
}

.margin-content {
    background:#F5F8FA;
    margin-left:300px;
}
