body{
    /*background-color:#171933;*/
    background-color:#2C3063;
    color:#D4DCFF;
    font-family: Georgia,'Times New Roman', Times, serif;


}
.navbar{
    background-color:transparent !important;
}
.navbar .container{
    border-bottom: 1px solid #474b75;
    padding-bottom:10px;
}
.navbar-brand img{
    width:200px;
}

div.form-group label {
      color: black;
      font-size: 17px   
}

h2 {
    color:#2C3063;
}

/*Sidebar*/

#sidebar {
    width: 20rem;
    height: 100vh;
    background: #4949ff;
    background: linear-gradient(135deg, #4949ff 10%, rgb(67, 202, 121) 90%);
    font-size: 1rem;
    -webkit-box-shadow: 5px 0px 8px 0px #949494;
    -moz-box-shadow: 5px 0px 8px 0px #949494;
    box-shadow: 5px 0px 8px 0px #949494;
    left: 0;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    z-index: 1;
    line-height: 2 ;
}

#sidebar * {
    color: white;
}

#sidebar a:hover {
    text-decoration: none;

}

#sidebar #toggleNav {
    display: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: -3rem;
    background-color: #7815ff;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

#sidebar #logotype {
    font-size: 2rem;
    font-weight: 600;
}

#sidebar ul {
    list-style: none;
}

#sidebar .sidebar-item {
    border-radius: 0.5rem;
    transition: 0.2s;
}

#sidebar .sidebar-item.active {
    background-color: #8a8afd;
    padding-left: 0.5rem;
}

#sidebar .sidebar-item:not(.active):hover {
    background-color: #7070f9;
    padding-left: 0.5rem;
}

#sidebar .sidebar-item span {
    font-weight: 600;
}

#sidebar #balance {
    font-weight: 700;
}

#sidebar #closeNav {
    display: none;
    cursor: pointer;
}

#sidebar #closeNav:hover {
    padding-right: 0.5rem;

}

/**
 * Responsive
 */
@media (max-width: 1199px) {
    #sidebar {
        width: 15rem;
    }
}

@media (max-width: 991px) {
    #sidebar {
        width: 12rem;
        font-size: 0.9rem;
    }

    #sidebar i:not(#logoIcon) {
        display: none;
    }
}

@media (max-width: 767px) {
    #sidebar {
        width: 100%;
        font-size: 1rem;
    }

    #sidebar.hidden {
        left: -98%;
    }

    #sidebar #toggleNav {
        display: flex;
    }

    #sidebar i:not(#logoIcon),
    #sidebar #closeNav {
        display: flex;
    }

    .margin-content {
        margin: 0 !important ;
    }

}

thead th {
    width: 200px;
}

.margin-content {
    margin-left:250px;
}
